<section class="p-5 bg-secondary">
  <div class="container py-5">
    <div class="row g-4">
      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center p-5">
            <img
              src="assets/mypic.jpg"
              class="rounded-circle mb-3"
              width="100px"
              height="100px"
            />
            <h3 class="card-title mb-3">Kalyan Kumar Kaligota</h3>
            <p class="card-text text-info">
              Contact Us: Mobile: 6281537970 <a href="mailto:kalyankumar.k@motivitylabs.com">kalyankumar.k@motivitylabs.com</a>
            </p>
            <!--text-dark mx-1 lead-->
            <a href="https://www.facebook.com/MotivityLabs/"
              ><i class="bi bi-facebook text-dark mx-1 lead"></i
            ></a>
            <a href="https://twitter.com/motivitylab?lang=en"
              ><i class="bi bi-twitter text-dark mx-1 lead"></i
            ></a>
            <a href="https://www.linkedin.com/company/motivitylabs/?originalSubdomain=in"
              ><i class="bi bi-linkedin text-dark mx-1 lead"></i
            ></a>
            <a href="https://www.instagram.com/motivitylabsinc/?hl=en"
              ><i class="bi bi-instagram text-dark mx-1 lead"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center p-5">
            <img
              src="assets/user.png"
              alt="Subham Kr Gupta"
              class="rounded-circle mb-3"
              width="100px"
              height="100px"
            />
            <h3 class="card-title mb-3">Subham Kr Gupta</h3>
            <p class="card-text text-info">
              Contact Us: Mobile:7031979124 <a href="mailto:subham.gupta@motivitylabs.com">subham.gupta@motivitylabs.com</a>
            </p>
            <!--text-dark mx-1 lead-->
            <a href="https://www.facebook.com/MotivityLabs/"
              ><i class="bi bi-facebook text-dark mx-1 lead"></i
            ></a>
            <a href="https://twitter.com/motivitylab?lang=en"
              ><i class="bi bi-twitter text-dark mx-1 lead"></i
            ></a>
            <a href="https://www.linkedin.com/company/motivitylabs/?originalSubdomain=in"
              ><i class="bi bi-linkedin text-dark mx-1 lead"></i
            ></a>
            <a href="https://www.instagram.com/motivitylabsinc/?hl=en"
              ><i class="bi bi-instagram text-dark mx-1 lead"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center p-5">
            <img
              src="assets/user.png"
              alt="Rajaram Jasti"
              class="rounded-circle mb-3"
              width="100px"
              height="100px"
            />
            <h3 class="card-title mb-3">jasthi Rajaram Miryalguda</h3>
            <p class="card-text text-info">
              Contact Us: Mobile:7288042795 <a href="mailto:rajaram.jasthi@motivitylabs.com">rajaram.jasthi@motivitylabs.com</a>
            </p>
            <!--text-dark mx-1 lead-->
            <a href="https://www.facebook.com/MotivityLabs/"
              ><i class="bi bi-facebook text-dark mx-1 lead"></i
            ></a>
            <a href="https://twitter.com/motivitylab?lang=en"
              ><i class="bi bi-twitter text-dark mx-1 lead"></i
            ></a>
            <a href="https://www.linkedin.com/company/motivitylabs/?originalSubdomain=in"
              ><i class="bi bi-linkedin text-dark mx-1 lead"></i
            ></a>
            <a href="https://www.instagram.com/motivitylabsinc/?hl=en"
              ><i class="bi bi-instagram text-dark mx-1 lead"></i
            ></a>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3">
        <div class="card bg-light">
          <div class="card-body text-center p-5">
            <img
              src="assets/user.png"
              alt="Akhil Mohammad"
              class="rounded-circle mb-3"
              width="100px"
              height="100px"
            />
            <h3 class="card-title mb-3">Akhil Mohammad</h3>
            <p class="card-text text-info">
              Contact Us: Mobile:8328068388 <a href="mailto:akhil.mohammad@motivitylabs.com">akhil.mohammad@motivitylabs.com</a> 
            </p>
            <!--text-dark mx-1 lead-->
            <a href="https://www.facebook.com/MotivityLabs/"
              ><i class="bi bi-facebook text-dark mx-1 lead"></i
            ></a>
            <a href="https://twitter.com/motivitylab?lang=en"
              ><i class="bi bi-twitter text-dark mx-1 lead"></i
            ></a>
            <a href="https://www.linkedin.com/company/motivitylabs/?originalSubdomain=in"
              ><i class="bi bi-linkedin text-dark mx-1 lead"></i
            ></a>
            <a href="https://www.instagram.com/motivitylabsinc/?hl=en"
              ><i class="bi bi-instagram text-dark mx-1 lead"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>