.subs{
    margin-top: 100px;
}

.para{
    text-align: center;
    font-size: 40px;
}

.heading{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: blueviolet;
}
.btn{
    margin-left: 610px;
    margin-top: 50px;
    
}
