.subs{
    margin-top: 100px;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======

>>>>>>> 7d61f6f9b0fb8a1a10720bf3f2479791896206d3
.para{
    text-align: center;
    font-size: 40px;
}
<<<<<<< HEAD
=======
=======

>>>>>>> 7d61f6f9b0fb8a1a10720bf3f2479791896206d3
.heading{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: blueviolet;
}
.btn{
    margin-left: 610px;
    margin-top: 50px;
    
}
<<<<<<< HEAD
>>>>>>> 8f98d70fdde146c1b7deb9df1a82ef28584da148
=======
>>>>>>> 7d61f6f9b0fb8a1a10720bf3f2479791896206d3
